Telegram Image Editor to Google Drive.json
{
  "name": "Telegram Image Editor to Google Drive",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true,
          "imageSize": "large"
        }
      },
      "id": "b9c630a2-76fa-45ae-8fa4-3ae3084e8b24",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        304
      ],
      "webhookId": "3c2b1c63-e06d-4b8a-a3cf-bb144900d7e1",
      "credentials": {
        "telegramApi": {
          "id": "FxOA11fMeMttrkOF",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}",
        "additionalFields": {}
      },
      "id": "16d5f16c-54ab-46c8-b0a4-cd4d4442b611",
      "name": "Get Image File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        304
      ],
      "webhookId": "f5454aba-7240-45bf-b3f7-26ec4f2f6b71",
      "credentials": {
        "telegramApi": {
          "id": "FxOA11fMeMttrkOF",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "id": "7623967c-2edb-45a3-a42b-26e3173c4a73",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1136,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MsFvRGPy885qA4Eh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $(\"Telegram Trigger\").item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "=✅ Đã chỉnh sửa và lưu vào Google Drive!\n\nTên file: {{ $(\"Upload to Google Drive\").item.json.name }}\nXem tại: {{ $(\"Upload to Google Drive\").item.json.webViewLink }}"
        }
      },
      "id": "512b4d40-29cd-4c72-a6cc-bf980ea635e2",
      "name": "Send Result to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        304
      ],
      "webhookId": "3992afe0-5515-48ab-b169-3e651c99940b",
      "credentials": {
        "telegramApi": {
          "id": "FxOA11fMeMttrkOF",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "options": {}
      },
      "id": "174d667a-9888-42c7-9332-a0a27663254a",
      "name": "Edit Image with Gemini AI",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        688,
        304
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "DfFfhyWrFYun59d8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "fileName",
              "type": "string",
              "value": "={{ \"edited_\" + $now.toFormat(\"yyyyMMdd_HHmmss\") + \".jpg\" }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b2f5a18a-c1ce-4b1f-b2e5-b7b731164cb3",
      "name": "Prepare File Name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get Image File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image File": {
      "main": [
        [
          {
            "node": "Edit Image with Gemini AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Send Result to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image with Gemini AI": {
      "main": [
        [
          {
            "node": "Prepare File Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Name": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "aa3ccd5c-6091-4480-b532-f837d0a35197",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "182c5c60e49a9666afa24e028e52920e6547cfd55148026de329f605b10621ef"
  },
  "id": "n7ywE4qy1C2Q4ttr",
  "tags": []
}